@font-face {
  font-family: "PlexBold";
  src: local("IBM Plex Sans"),
    url("../assets/fonts/IBMPlexSans/IBMPlexSans-Bold.woff2") format("woff2"),
    url("../assets/fonts/IBMPlexSans/IBMPlexSans-Bold.woff") format("woff"),
    url("../assets/fonts/IBMPlexSans/IBMPlexSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PlexSemiBold";
  src: local("IBM Plex Sans"),
    url("../assets/fonts/IBMPlexSans/IBMPlexSans-SemiBold.woff2")
      format("woff2"),
    url("../assets/fonts/IBMPlexSans/IBMPlexSans-SemiBold.woff") format("woff"),
    url("../assets/fonts/IBMPlexSans/IBMPlexSans-SemiBold.ttf")
      format("truetype");

  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "PlexMedium";
  src: local("IBM Plex Sans"),
    url("../assets/fonts/IBMPlexSans/IBMPlexSans-Medium.woff2") format("woff2"),
    url("../assets/fonts/IBMPlexSans/IBMPlexSans-Medium.woff") format("woff"),
    url("../assets/fonts/IBMPlexSans/IBMPlexSans-Medium.ttf") format("truetype");

  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Plex";
  src: local("IBM Plex Sans"),
    url("../assets/fonts/IBMPlexSans/IBMPlexSans-Regular.woff2") format("woff2"),
    url("../assets/fonts/IBMPlexSans/IBMPlexSans-Regular.woff") format("woff"),
    url("../assets/fonts/IBMPlexSans/IBMPlexSans-Regular.ttf")
      format("truetype");

  font-weight: 400;
  font-style: normal;
}
